<%= stylesheet_link_tag "dev_toolbar" %>
<div class="dev_toolbar">
  <% if defined?(BetterErrors) %>
    <%= link_to "Git", "/git", class: "dev_tools_button btn btn-outline-secondary" %>
  <% end %>

  <% if defined?(WebConsole) %>
    <%= link_to "Console", "#", id: "console_button", class: "dev_tools_button btn btn-outline-secondary" %>

    <script>
      $( document ).ready(function() {
        if($("#console").length != 0) {
          $("#console").hide();
        }

        $("#console_button").on("click", function() {
          if($("#console").length == 0) {
            $(".footer").toggle();
            return false;
          } else {
            $("#console").toggle();
            return false;
          }
        });

      });
    </script>
  <% end %>

  <% if defined?(ActiveAdmin) %>
    <%= link_to "Admin", "/admin", class: "dev_tools_button btn btn-outline-secondary" %>
  <% end %>

  <%= link_to "Routes", "/rails/info", class: "dev_tools_button btn btn-outline-secondary" %>
</div>

<div class="footer alert-info" style="display: none;">
  <p>To see a helpful <code>rails console</code> here, please run this command at a terminal prompt:</p>

  <pre><code>bin/whitelist <%= request.ip %></code></pre>

  <p>This console will have variables you've defined in the action, <code>params</code>, etc, available for you to play around with.</p>
</div>
